<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <%link_to"user_home", user_home_path, class: "nav-link" %>
          <a class="nav-link active" aria-current="page" href="/user_home">Home</a>
        </li>
        <% if @user %>
          <li class="nav-item">
            <a class="nav-link"> Logged in as <%= @user.email %>   
             </a>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>
<table class = "table">
  <thead>
    <tr>
      <th>Evaluator</th>
      <th>Evaluee</th>
      <th>Context</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
    
      <tr>
        <% if User.find(evaluation.senderid).id == @user.id && evaluation.pid == @project.id %>
          <td><%= User.find(evaluation.senderid).name%></td>
          <td><%= evaluation.evaluee %></td>
          <td><%= evaluation.context %></td>
          <td><%= evaluation.rating %></td>
          <td><%= link_to 'Edit', edit_eval_path(id: evaluation.id) %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<h4> Constraints </h4>
<p>
The total number of points you allocate for your
<strong>group must be less than or equal to 7 * n </strong>, where n is the
number of people in your group.  In the example below, there
are 4 people so the total of points must be <= 28.
 </p>


<h4>  Instructions  </h4>
<ol>
  <li>Cut out the text indicated below and use as a template.</li>
  <li>Complete the form, rating each person in your group on a
        scale of 0 to 10.  (See constraint and rubric below.)</li>
  <li>Rate **yourself** on the same scale.</li>
  <li>Add comments to clarify/justify your evaluation.</li>
  <li>Email the completed form to the grader(s).</li>
</ol> 

<table class ="table">
  <thead class="thead-dark">
    <tr>
      <th>Rating </th>
      <th>Explanation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>9-10</td>
      <td>Amazing team-mate You will be in contact with them for years One of the **best** team-mates you have ever had for any project</td>
    </tr>
    <tr>
      <td>7-8</td>
      <td>Very good team-mate
      Contributed significantly
      Communicated effectively
      Took initiative in the design and implementation
      You would **seek out** this person to be a team-mate in a future course
      </td>
    </tr>
    <tr>
      <td>5-6</td>
      <td>Good team-mate
      Carried out their assigned responsibilities
      Contributed to the final product
      Room for improvement in communication, initiative, effort, or skills
      You would be **willing to partner** with them in a future course, though you wouldn't seek them out  
      </td>
    </tr>
    <tr>
      <td>3-4</td>
      <td>Fair team-mate
      Worked hard at contributing to the project
      Struggled to carry out assigned responsibilities
      Made minor contributions to the final product
      You would **prefer not to partner** with this person in a future course
      </td>
    </tr>
    <tr>
      <td>0-3</td>
      <td>Poor team-mate
      Did not contribute to the final product
      Put forth little or insufficient effort
      Was rarely present at team meetings and was difficult to get a hold of
      You would **avoid partnering** with this person in a future course
      </td>
    </tr>
  </tbody>
</table>


