<h1>Peer Evaluation Sign In</h1>
<% if flash[:alert] %>
      <div class="alert alert-primary" id="alert">
         <%= flash[:alert] %> 
      </div>
<% end %>
<%= form_with url: sign_in_path do |form| %>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: "form-control", placeholder: "lname@osu.edu" %>
    </div>

    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control", placeholder: "1234" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>
<% end %>

<div>
<%= link_to "Don't have an account?", sign_up_path, class: "btn btn-secondary" %>
</div>